In [30]:
import pandas as pd
import numpy as np
import re
dfh=pd.read_csv('/Users/nsearch/Desktop/HPB_ASSESMENT/Assessment_Inputs/DS1_user_health_table.csv')
dfp=pd.read_csv('/Users/nsearch/Desktop/HPB_ASSESMENT/Assessment_Inputs/DS1_user_profile_table.csv')
#df['ActivityDate'] = pd.to_datetime(df['ActivityDate'])
dfh.head()

           id                  UpdateAt  Weight  Height
0  8a7bdc22c6  2018-10-31T00:00:00.000Z    82.0     165
1  72f2661296  2018-01-14T00:00:00.000Z    62.0     156
2  72f2661296  2018-10-20T00:00:00.000Z    64.5     156
3  72f2661296  2019-01-11T00:00:00.000Z    59.2     156
4  72f2661296  2018-01-27T00:00:00.000Z    64.5     156

In [145]:
len(dfh['id'].unique())

4231

In [23]:
dfp.shape

(5004, 4)

In [144]:
dfp.head()
dfp=dfp.rename(columns={'ProfileCreateDate':'UpdateAt'})
dfp

              id                  UpdateAt  Weight  Height
0     37c6eefee4  2016-10-17T16:08:34.000Z     0.0     0.0
1     b6136debc6                       NaN    62.0   158.0
2     443d3c25bb  2019-03-12T13:18:50.000Z    62.0   164.0
3     12c8791f19  2018-12-10T16:14:15.000Z    80.0   180.0
4     f06d37f985  2015-12-09T10:02:42.000Z    45.2   157.0
...          ...                       ...     ...     ...
4999  3934a5bdf9                       NaN    38.0   149.0
5000  438bcfc054                       NaN     0.0     0.0
5001  007b7e4890                       NaN    61.0   167.0
5002  f6dc1fe09c                       NaN    57.0   158.0
5003  f05593bfb5  2016-01-17T22:57:34.000Z    55.0   162.0

[5004 rows x 4 columns]

In [134]:
s1=pd.concat([dfp,dfh])
s1

              id                  UpdateAt  Weight  Height
0     37c6eefee4  2016-10-17T16:08:34.000Z     0.0     0.0
1     b6136debc6                       NaN    62.0   158.0
2     443d3c25bb  2019-03-12T13:18:50.000Z    62.0   164.0
3     12c8791f19  2018-12-10T16:14:15.000Z    80.0   180.0
4     f06d37f985  2015-12-09T10:02:42.000Z    45.2   157.0
...          ...                       ...     ...     ...
9486  13cd5fef45  2017-08-29T00:00:00.000Z    67.0   165.0
9487  13cd5fef45  2017-11-21T00:00:00.000Z    67.0   165.0
9488  13cd5fef45  2017-12-07T00:00:00.000Z    67.0   165.0
9489  13cd5fef45  2019-04-20T00:00:00.000Z    67.0   165.0
9490  13cd5fef45  2018-10-28T00:00:00.000Z    67.0   165.0

[14495 rows x 4 columns]

In [131]:
s1=s1.drop_duplicates(subset=None, keep='first', inplace=False)
s1.shape

(14476, 4)

In [132]:
len(s1['id'].unique())

5002

In [133]:
s1.head(30)
s1=s1.dropna()
len(s1['id'].unique())

4887

In [95]:


s1['UpdateAt'] = pd.to_datetime(s1['UpdateAt'])
s1

              id                  UpdateAt  Weight  Height
0     37c6eefee4 2016-10-17 16:08:34+00:00     0.0     0.0
2     443d3c25bb 2019-03-12 13:18:50+00:00    62.0   164.0
3     12c8791f19 2018-12-10 16:14:15+00:00    80.0   180.0
4     f06d37f985 2015-12-09 10:02:42+00:00    45.2   157.0
5     64de4e4bf3 2017-11-16 15:56:50+00:00    65.0   170.0
...          ...                       ...     ...     ...
9486  13cd5fef45 2017-08-29 00:00:00+00:00    67.0   165.0
9487  13cd5fef45 2017-11-21 00:00:00+00:00    67.0   165.0
9488  13cd5fef45 2017-12-07 00:00:00+00:00    67.0   165.0
9489  13cd5fef45 2019-04-20 00:00:00+00:00    67.0   165.0
9490  13cd5fef45 2018-10-28 00:00:00+00:00    67.0   165.0

[12872 rows x 4 columns]

In [105]:
df_max = s1[s1.groupby('id').UpdateAt.transform('max') == s1['UpdateAt']]
df_max=df_max.set_index('id')

df_min=s1[s1.groupby('id').UpdateAt.transform('min') == s1['UpdateAt']]
df_min=df_min.set_index('id')


f=pd.concat([df_max,df_min[['UpdateAt']].rename(columns={'UpdateAt':'Min_Date'})],axis=1,sort=False)
f.head(60)

                            UpdateAt  Weight  Height                  Min_Date
37c6eefee4 2016-10-17 16:08:34+00:00     0.0     0.0 2016-10-17 16:08:34+00:00
443d3c25bb 2019-03-12 13:18:50+00:00    62.0   164.0 2019-03-12 00:00:00+00:00
12c8791f19 2018-12-10 16:14:15+00:00    80.0   180.0 2018-12-10 00:00:00+00:00
f06d37f985 2015-12-09 10:02:42+00:00    45.2   157.0 2015-12-09 10:02:42+00:00
5954559f7a 2018-10-01 17:55:37+00:00    10.0   100.0 2018-10-01 00:00:00+00:00
80e8726906 2017-09-30 20:05:39+00:00    50.0   160.0 2017-09-30 00:00:00+00:00
b659d91694 2019-01-18 11:05:43+00:00    61.0   167.0 2019-01-18 00:00:00+00:00
86c50454fc 2017-11-28 17:22:06+00:00     0.0     0.0 2017-11-28 00:00:00+00:00
108ec5cba9 2018-02-09 14:43:07+00:00    95.0   175.0 2018-02-09 00:00:00+00:00
8d1e7e6f6c 2016-11-12 17:16:10+00:00     0.0     0.0 2016-11-12 17:16:10+00:00
2414e8adef 2018-05-27 21:19:06+00:00    75.0   177.0 2018-05-27 00:00:00+00:00
8891e502fe 2015-12-05 16:13:50+00:00     0.0     0.0 2015-12-05 16:13:50+00:00
922e4ec86e 2018-02-13 11:31:13+00:00    47.0   154.0 2018-02-13 00:00:00+00:00
ba706aae39 2019-08-19 22:21:14+00:00    10.0   100.0 2019-08-19 00:00:00+00:00
6dc369a704 2017-11-03 18:17:50+00:00     0.0     0.0 2017-11-03 00:00:00+00:00
5888078c21 2016-02-02 14:30:56+00:00     0.0     0.0 2016-02-02 14:30:56+00:00
8ee7b0363c 2016-11-17 22:26:33+00:00     0.0     0.0 2016-11-17 22:26:33+00:00
8b298a2221 2015-11-07 12:31:14+00:00    10.0   100.0 2015-11-07 12:31:14+00:00
74c2dea40d 2017-10-07 13:21:04+00:00     0.0     0.0 2017-10-07 00:00:00+00:00
16d2160bd7 2017-10-14 19:29:40+00:00     0.0     0.0 2017-10-14 00:00:00+00:00
c92dab16b3 2016-10-10 13:56:46+00:00   114.0   168.0 2016-10-10 13:56:46+00:00
ee40c23ed0 2017-10-30 12:17:05+00:00     0.0     0.0 2017-10-30 00:00:00+00:00
06ada73566 2016-11-23 20:29:03+00:00    45.0   160.0 2016-11-23 20:29:03+00:00
ecf7b61d53 2016-01-26 14:16:38+00:00     0.0     0.0 2016-01-26 14:16:38+00:00
20f836c989 2018-09-14 10:57:07+00:00    68.0   156.0 2018-09-14 00:00:00+00:00
5c04ef8bfc 2016-11-08 13:58:50+00:00    58.0   163.0 2016-11-08 13:58:50+00:00
659d12e5b8 2015-11-25 19:12:01+00:00    75.0   165.0 2015-11-25 19:12:01+00:00
52ee6c33f7 2017-11-15 10:05:07+00:00    63.5   173.0 2017-11-15 00:00:00+00:00
695c223e1f 2017-08-20 20:58:22+00:00    50.5   161.0 2017-08-20 00:00:00+00:00
5e98671234 2019-09-26 23:18:39+00:00    10.0   100.0 2019-09-26 23:18:39+00:00
e9b7541737 2015-10-15 11:35:46+00:00    86.0   170.0 2015-10-15 11:35:46+00:00
af11cc3238 2017-11-04 12:59:49+00:00     0.0     0.0 2017-11-04 00:00:00+00:00
c203dfac81 2017-10-01 12:40:59+00:00    90.0   168.0 2017-10-01 00:00:00+00:00
7f1734173c 2017-08-14 17:43:19+00:00    61.0   159.0 2017-08-14 00:00:00+00:00
9866a65d55 2018-04-14 14:34:36+00:00    53.0   152.0 2018-04-14 00:00:00+00:00
5b6402e629 2017-11-03 23:45:52+00:00    58.0   165.0 2017-11-03 00:00:00+00:00
4bda6656df 2017-08-02 20:50:06+00:00    30.0   145.0 2017-08-02 00:00:00+00:00
c04c057c31 2018-03-19 00:18:11+00:00    80.0   100.0 2018-03-19 00:00:00+00:00
73a2c0573f 2018-03-18 17:22:22+00:00    79.0   173.0 2018-03-18 00:00:00+00:00
8683323107 2016-10-15 11:43:40+00:00    51.8   150.0 2016-10-15 11:43:40+00:00
1e53d59099 2016-10-10 15:47:26+00:00    90.0   172.0 2016-10-10 15:47:26+00:00
8986f0d18c 2018-06-16 15:58:41+00:00    65.0   165.0 2018-06-16 00:00:00+00:00
36c4b48b72 2015-12-01 15:54:46+00:00    75.3   166.0 2015-12-01 15:54:46+00:00
765c7758b5 2017-10-28 10:25:49+00:00    52.9   150.0 2017-10-28 00:00:00+00:00
abc681a49f 2018-02-24 17:03:05+00:00    70.0   170.0 2018-02-24 00:00:00+00:00
1316a9f363 2018-08-13 15:43:39+00:00    60.0   167.0 2018-08-13 00:00:00+00:00
3119dba3dc 2018-10-27 17:52:21+00:00     0.0     0.0 2018-10-27 00:00:00+00:00
d04d7f7da6 2018-11-03 12:41:40+00:00    68.0   152.0 2018-11-03 00:00:00+00:00
0d2fd01f70 2017-10-21 15:16:27+00:00     0.0     0.0 2017-10-21 00:00:00+00:00
874c1cfa0d 2015-12-29 19:17:29+00:00    32.0   120.0 2015-12-29 19:17:29+00:00
987dc9252e 2019-07-14 09:08:18+00:00    10.0   100.0 2019-07-14 00:00:00+00:00
7beb04302f 2017-10-09 14:12:45+00:00     0.0     0.0 2017-10-09 00:00:00+00:00
76442347b5 2017-10-31 22:57:27+00:00    52.0   159.0 2017-10-31 00:00:00+00:00
2e47fce5f3 2017-10-28 16:48:28+00:00     0.0     0.0 2017-10-28 00:00:00+00:00
e4c0d49d1a 2018-11-24 12:08:37+00:00     0.0     0.0 2018-11-24 00:00:00+00:00
bef7a8c3c6 2019-08-19 11:04:40+00:00     0.0     0.0 2019-08-19 00:00:00+00:00
ca5e60540b 2015-11-23 12:37:22+00:00    54.0   163.0 2015-11-23 12:37:22+00:00
0d2b851619 2018-11-23 12:44:50+00:00     0.0     0.0 2018-11-23 00:00:00+00:00
8bca209a2d 2016-01-25 06:56:03+00:00    45.0     1.5 2016-01-25 06:56:03+00:00
3c1cff7b62 2019-01-12 00:13:04+00:00    75.0   174.0 2019-01-12 00:00:00+00:00

In [119]:
bins_dt = pd.date_range('2015-08-03', freq='364D', periods=6)
#bins_dt
f['season_created_profile']=pd.cut(f['Min_Date'],bins=bins_dt,labels=[1,2,3,4,5])
f.head(30)

,UpdateAt,Weight,Height,Min_Date,season_created_profile
37c6eefee4,2016-10-17 16:08:34+00:00,0.0,0.0,2016-10-17 16:08:34+00:00,2
443d3c25bb,2019-03-12 13:18:50+00:00,62.0,164.0,2019-03-12 00:00:00+00:00,4
12c8791f19,2018-12-10 16:14:15+00:00,80.0,180.0,2018-12-10 00:00:00+00:00,4
f06d37f985,2015-12-09 10:02:42+00:00,45.2,157.0,2015-12-09 10:02:42+00:00,1
5954559f7a,2018-10-01 17:55:37+00:00,10.0,100.0,2018-10-01 00:00:00+00:00,4
80e8726906,2017-09-30 20:05:39+00:00,50.0,160.0,2017-09-30 00:00:00+00:00,3
b659d91694,2019-01-18 11:05:43+00:00,61.0,167.0,2019-01-18 00:00:00+00:00,4
86c50454fc,2017-11-28 17:22:06+00:00,0.0,0.0,2017-11-28 00:00:00+00:00,3
108ec5cba9,2018-02-09 14:43:07+00:00,95.0,175.0,2018-02-09 00:00:00+00:00,3
8d1e7e6f6c,2016-11-12 17:16:10+00:00,0.0,0.0,2016-11-12 17:16:10+00:00,2
2414e8adef,2018-05-27 21:19:06+00:00,75.0,177.0,2018-05-27 00:00:00+00:00,3
8891e502fe,2015-12-05 16:13:50+00:00,0.0,0.0,2015-12-05 16:13:50+00:00,1
922e4ec86e,2018-02-13 11:31:13+00:00,47.0,154.0,2018-02-13 00:00:00+00:00,3
ba706aae39,2019-08-19 22:21:14+00:00,10.0,100.0,2019-08-19 00:00:00+00:00,5
6dc369a704,2017-11-03 18:17:50+00:00,0.0,0.0,2017-11-03 00:00:00+00:00,3
5888078c21,2016-02-02 14:30:56+00:00,0.0,0.0,2016-02-02 14:30:56+00:00,1
8ee7b0363c,2016-11-17 22:26:33+00:00,0.0,0.0,2016-11-17 22:26:33+00:00,2
8b298a2221,2015-11-07 12:31:14+00:00,10.0,100.0,2015-11-07 12:31:14+00:00,1
74c2dea40d,2017-10-07 13:21:04+00:00,0.0,0.0,2017-10-07 00:00:00+00:00,3
16d2160bd7,2017-10-14 19:29:40+00:00,0.0,0.0,2017-10-14 00:00:00+00:00,3
c92dab16b3,2016-10-10 13:56:46+00:00,114.0,168.0,2016-10-10 13:56:46+00:00,2
ee40c23ed0,2017-10-30 12:17:05+00:00,0.0,0.0,2017-10-30 00:00:00+00:00,3
06ada73566,2016-11-23 20:29:03+00:00,45.0,160.0,2016-11-23 20:29:03+00:00,2
ecf7b61d53,2016-01-26 14:16:38+00:00,0.0,0.0,2016-01-26 14:16:38+00:00,1
20f836c989,2018-09-14 10:57:07+00:00,68.0,156.0,2018-09-14 00:00:00+00:00,4
5c04ef8bfc,2016-11-08 13:58:50+00:00,58.0,163.0,2016-11-08 13:58:50+00:00,2
659d12e5b8,2015-11-25 19:12:01+00:00,75.0,165.0,2015-11-25 19:12:01+00:00,1
52ee6c33f7,2017-11-15 10:05:07+00:00,63.5,173.0,2017-11-15 00:00:00+00:00,3
695c223e1f,2017-08-20 20:58:22+00:00,50.5,161.0,2017-08-20 00:00:00+00:00,3
5e98671234,2019-09-26 23:18:39+00:00,10.0,100.0,2019-09-26 23:18:39+00:00,5

,UpdateAt,Weight,Height,Min_Date,season_created_profile,BMI
37c6eefee4,2016-10-17 16:08:34+00:00,0.0,0.0,2016-10-17 16:08:34+00:00,2,NaN
443d3c25bb,2019-03-12 13:18:50+00:00,62.0,164.0,2019-03-12 00:00:00+00:00,4,23.05
12c8791f19,2018-12-10 16:14:15+00:00,80.0,180.0,2018-12-10 00:00:00+00:00,4,24.69
f06d37f985,2015-12-09 10:02:42+00:00,45.2,157.0,2015-12-09 10:02:42+00:00,1,18.34
5954559f7a,2018-10-01 17:55:37+00:00,10.0,100.0,2018-10-01 00:00:00+00:00,4,10.00
...,...,...,...,...,...,...
a749f5a437,2019-03-16 00:00:00+00:00,62.0,160.0,2019-03-16 00:00:00+00:00,4,24.22
7e0539f353,2019-02-07 00:00:00+00:00,10.0,100.0,2018-01-17 00:00:00+00:00,3,10.00
ee956112c7,2018-10-29 00:00:00+00:00,60.0,100.0,2017-10-14 00:00:00+00:00,3,60.00
8c3125a5f3,2018-10-22 00:00:00+00:00,0.0,0.0,2018-10-22 00:00:00+00:00,4,NaN
13cd5fef45,2019-04-20 00:00:00+00:00,67.0,165.0,2017-08-29 00:00:00+00:00,3,24.61

In [128]:
f['BMI']=np.round((f['Weight'] / f['Height']/ f['Height'])*10000,2)
f
req=f[['season_created_profile' ,'BMI', 'Weight','Height']].rename(columns={'Weight':'Latest_Weight','Height':'Latest_Height'})

req.head(50)

           season_created_profile    BMI  Latest_Weight  Latest_Height
37c6eefee4                      2    NaN            0.0            0.0
443d3c25bb                      4  23.05           62.0          164.0
12c8791f19                      4  24.69           80.0          180.0
f06d37f985                      1  18.34           45.2          157.0
5954559f7a                      4  10.00           10.0          100.0
80e8726906                      3  19.53           50.0          160.0
b659d91694                      4  21.87           61.0          167.0
86c50454fc                      3    NaN            0.0            0.0
108ec5cba9                      3  31.02           95.0          175.0
8d1e7e6f6c                      2    NaN            0.0            0.0
2414e8adef                      3  23.94           75.0          177.0
8891e502fe                      1    NaN            0.0            0.0
922e4ec86e                      3  19.82           47.0          154.0
ba706aae39                      5  10.00           10.0          100.0
6dc369a704                      3    NaN            0.0            0.0
5888078c21                      1    NaN            0.0            0.0
8ee7b0363c                      2    NaN            0.0            0.0
8b298a2221                      1  10.00           10.0          100.0
74c2dea40d                      3    NaN            0.0            0.0
16d2160bd7                      3    NaN            0.0            0.0
c92dab16b3                      2  40.39          114.0          168.0
ee40c23ed0                      3    NaN            0.0            0.0
06ada73566                      2  17.58           45.0          160.0
ecf7b61d53                      1    NaN            0.0            0.0
20f836c989                      4  27.94           68.0          156.0
5c04ef8bfc                      2  21.83           58.0          163.0
659d12e5b8                      1  27.55           75.0          165.0
52ee6c33f7                      3  21.22           63.5          173.0
695c223e1f                      3  19.48           50.5          161.0
5e98671234                      5  10.00           10.0          100.0
e9b7541737                      1  29.76           86.0          170.0
af11cc3238                      3    NaN            0.0            0.0
c203dfac81                      3  31.89           90.0          168.0
7f1734173c                      3  24.13           61.0          159.0
9866a65d55                      3  22.94           53.0          152.0
5b6402e629                      3  21.30           58.0          165.0
4bda6656df                      3  14.27           30.0          145.0
c04c057c31                      3  80.00           80.0          100.0
73a2c0573f                      3  26.40           79.0          173.0
8683323107                      2  23.02           51.8          150.0
1e53d59099                      2  30.42           90.0          172.0
8986f0d18c                      3  23.88           65.0          165.0
36c4b48b72                      1  27.33           75.3          166.0
765c7758b5                      3  23.51           52.9          150.0
abc681a49f                      3  24.22           70.0          170.0
1316a9f363                      4  21.51           60.0          167.0
3119dba3dc                      4    NaN            0.0            0.0
d04d7f7da6                      4  29.43           68.0          152.0
0d2fd01f70                      3    NaN            0.0            0.0
874c1cfa0d                      1  22.22           32.0          120.0

In [129]:
req.shape

(4887, 4)

,id,ProfileCreateDate,Season_Created_Profile,BMI,Weight_Latest,Height_Latest
0,37c6eefee4,17-Oct-16,2,0.00,0.0,0.0
1,b6136debc6,29-Aug-17,4,24.84,62.0,158.0
2,443d3c25bb,12-Mar-19,4,23.05,62.0,164.0
3,12c8791f19,10-Dec-18,4,24.69,80.0,180.0
4,f06d37f985,9-Dec-15,1,18.34,45.2,157.0
...,...,...,...,...,...,...
4997,5ee65d1648,14-Oct-16,2,0.00,0.0,0.0
4998,3934a5bdf9,15-Nov-17,4,17.12,38.0,149.0
4999,438bcfc054,-,-,0.00,0.0,0.0
5000,007b7e4890,30-Sep-17,4,21.87,61.0,167.0
5001,f05593bfb5,17-Jan-16,1,20.96,55.0,162.0