## ASSESSMENT 1
### To find  (1) Participant level for (i) Season Profile Created, (ii) Latest BMI;

#### Assumptions made
1. Total number of unique participants 5002

2. Removed 2 duplicate IDs

3. If Profilecreation date null, I have considered "UpdatedAT" if both are null then I have consider the latest date[2020-03-12]  for 115 cases out of total 5002 unique participants

4.  Assumed Weight_Latest in KG & Height_Latest in CM

5. If any user id is not available in "DS1_user_health_table", I assumed that user has not participated after profile creation or did not his/her data so I have considered his/her Latest Weight/Height recorded during profile creation.

In [1]:
import pandas as pd
import numpy as np
import re
dfh=pd.read_csv('/Users/nsearch/Desktop/HPB_ASSESMENT/Assessment_Inputs/DS1_user_health_table.csv')
dfp=pd.read_csv('/Users/nsearch/Desktop/HPB_ASSESMENT/Assessment_Inputs/DS1_user_profile_table.csv')
print('Total no of rows available in the DS1_user_health_table',dfh.shape)
print('Total no of rows available in the DS1_user_profile_table',dfp.shape)
dfp=dfp.drop_duplicates(subset=None, keep='first', inplace=False)
#dfp=dfp.set_index('id')
#dfh

Total no of rows available in the DS1_user_health_table (9491, 4)
Total no of rows available in the DS1_user_profile_table (5004, 4)

In [2]:
#Profile created date
df_min=dfh[dfh.groupby('id').UpdateAt.transform('min') == dfh['UpdateAt']].set_index('id')

#latest height and weight
df_max=dfh[dfh.groupby('id').UpdateAt.transform('max') == dfh['UpdateAt']].set_index('id')
#
result = dfp.join(df_min,rsuffix='_Min').join(df_max,rsuffix='_Max')
#result
#

####  TO get the profile created  date and recent activity data,latest Height and Weight

In [3]:
result['Min_Date'] = np.nan
result['Min_Date'] = result.Min_Date.fillna(result.ProfileCreateDate).fillna(result.UpdateAt).fillna(result.UpdateAt_Max)

result['Max_Date'] = np.nan
result['Max_Date'] = result.Max_Date.fillna(result.UpdateAt_Max).fillna(result.UpdateAt).fillna(result.ProfileCreateDate)

result['Latest_Weight'] = np.nan
result['Latest_Weight'] = result.Latest_Weight.fillna(result.Weight_Max).fillna(result.Weight_Min).fillna(result.Weight)

result['Latest_Height'] = np.nan
result['Latest_Height'] = result.Latest_Height.fillna(result.Height_Max).fillna(result.Height_Min).fillna(result.Height)
result=result.reset_index()
result = result.drop_duplicates(subset='id', keep="first")
result=result.set_index('id').drop('index',axis=1)
result

,ProfileCreateDate,Weight,Height,UpdateAt,Weight_Min,Height_Min,UpdateAt_Max,Weight_Max,Height_Max,Min_Date,Max_Date,Latest_Weight,Latest_Height
id,,,,,,,,,,,,,
37c6eefee4,2016-10-17T16:08:34.000Z,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-17T16:08:34.000Z,2016-10-17T16:08:34.000Z,0.0,0.0
b6136debc6,NaN,62.0,158.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,158.0
443d3c25bb,2019-03-12T13:18:50.000Z,62.0,164.0,NaN,NaN,NaN,NaN,NaN,NaN,2019-03-12T13:18:50.000Z,2019-03-12T13:18:50.000Z,62.0,164.0
12c8791f19,2018-12-10T16:14:15.000Z,80.0,180.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-10T16:14:15.000Z,2018-12-10T16:14:15.000Z,80.0,180.0
f06d37f985,2015-12-09T10:02:42.000Z,45.2,157.0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-09T10:02:42.000Z,2015-12-09T10:02:42.000Z,45.2,157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219a6a10e0,NaN,71.0,169.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.0,169.0
5ee65d1648,2016-10-14T21:24:24.000Z,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-14T21:24:24.000Z,2016-10-14T21:24:24.000Z,0.0,0.0
3934a5bdf9,NaN,38.0,149.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,149.0
438bcfc054,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
007b7e4890,NaN,61.0,167.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,167.0

In [4]:
data=result[[ 'Min_Date', 'Latest_Weight', 'Latest_Height']]
data

                            Min_Date  Latest_Weight  Latest_Height
id
37c6eefee4  2016-10-17T16:08:34.000Z            0.0            0.0
b6136debc6                       NaN           62.0          158.0
443d3c25bb  2019-03-12T13:18:50.000Z           62.0          164.0
12c8791f19  2018-12-10T16:14:15.000Z           80.0          180.0
f06d37f985  2015-12-09T10:02:42.000Z           45.2          157.0
...                              ...            ...            ...
219a6a10e0                       NaN           71.0          169.0
5ee65d1648  2016-10-14T21:24:24.000Z            0.0            0.0
3934a5bdf9                       NaN           38.0          149.0
438bcfc054                       NaN            0.0            0.0
007b7e4890                       NaN           61.0          167.0

[5002 rows x 3 columns]

####  Assume the recent date [2020-03-12] if the profile create date is null to enhance the data quality and it will be ease of processing

In [5]:
data['Profile_created_Date'] = ['2020-03-12T00:00:10.000Z' if x is np.nan else x for x in list(data['Min_Date'])]
data

/Users/nsearch/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Min_Date,Latest_Weight,Latest_Height,Profile_created_Date
id,,,,
37c6eefee4,2016-10-17T16:08:34.000Z,0.0,0.0,2016-10-17T16:08:34.000Z
b6136debc6,NaN,62.0,158.0,2020-03-12T00:00:10.000Z
443d3c25bb,2019-03-12T13:18:50.000Z,62.0,164.0,2019-03-12T13:18:50.000Z
12c8791f19,2018-12-10T16:14:15.000Z,80.0,180.0,2018-12-10T16:14:15.000Z
f06d37f985,2015-12-09T10:02:42.000Z,45.2,157.0,2015-12-09T10:02:42.000Z
...,...,...,...,...
219a6a10e0,NaN,71.0,169.0,2020-03-12T00:00:10.000Z
5ee65d1648,2016-10-14T21:24:24.000Z,0.0,0.0,2016-10-14T21:24:24.000Z
3934a5bdf9,NaN,38.0,149.0,2020-03-12T00:00:10.000Z
438bcfc054,NaN,0.0,0.0,2020-03-12T00:00:10.000Z
007b7e4890,NaN,61.0,167.0,2020-03-12T00:00:10.000Z

#### Create a profile created season using the given date range

In [6]:
bins_dt = pd.date_range('2015-08-03', freq='364D', periods=6)
#bins_dt
data['Profile_created_Date'] = pd.to_datetime(data['Profile_created_Date'])
data['season_created_profile']=pd.cut(data['Profile_created_Date'],bins=bins_dt,labels=[1,2,3,4,5])
data

/Users/nsearch/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/nsearch/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Min_Date,Latest_Weight,Latest_Height,Profile_created_Date,season_created_profile
id,,,,,
37c6eefee4,2016-10-17T16:08:34.000Z,0.0,0.0,2016-10-17 16:08:34+00:00,2
b6136debc6,NaN,62.0,158.0,2020-03-12 00:00:10+00:00,5
443d3c25bb,2019-03-12T13:18:50.000Z,62.0,164.0,2019-03-12 13:18:50+00:00,4
12c8791f19,2018-12-10T16:14:15.000Z,80.0,180.0,2018-12-10 16:14:15+00:00,4
f06d37f985,2015-12-09T10:02:42.000Z,45.2,157.0,2015-12-09 10:02:42+00:00,1
...,...,...,...,...,...
219a6a10e0,NaN,71.0,169.0,2020-03-12 00:00:10+00:00,5
5ee65d1648,2016-10-14T21:24:24.000Z,0.0,0.0,2016-10-14 21:24:24+00:00,2
3934a5bdf9,NaN,38.0,149.0,2020-03-12 00:00:10+00:00,5
438bcfc054,NaN,0.0,0.0,2020-03-12 00:00:10+00:00,5
007b7e4890,NaN,61.0,167.0,2020-03-12 00:00:10+00:00,5

#### Calculate the BMI using latest Weight and Height 
#### BMI = (Latest_Weight/Latest_Height/Latest_Height)*1000

In [13]:
data['BMI']=np.round((data['Latest_Weight'] / data['Latest_Height']/ data['Latest_Height'])*10000,2)

output=data[['season_created_profile' ,'Profile_created_Date','BMI', 'Latest_Weight','Latest_Height']]
output['BMI']=output['BMI'].replace(np.nan,0)
output

/Users/nsearch/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/nsearch/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,season_created_profile,Profile_created_Date,BMI,Latest_Weight,Latest_Height
id,,,,,
37c6eefee4,2,2016-10-17 16:08:34+00:00,0.00,0.0,0.0
b6136debc6,5,2020-03-12 00:00:10+00:00,24.84,62.0,158.0
443d3c25bb,4,2019-03-12 13:18:50+00:00,23.05,62.0,164.0
12c8791f19,4,2018-12-10 16:14:15+00:00,24.69,80.0,180.0
f06d37f985,1,2015-12-09 10:02:42+00:00,18.34,45.2,157.0
...,...,...,...,...,...
219a6a10e0,5,2020-03-12 00:00:10+00:00,24.86,71.0,169.0
5ee65d1648,2,2016-10-14 21:24:24+00:00,0.00,0.0,0.0
3934a5bdf9,5,2020-03-12 00:00:10+00:00,17.12,38.0,149.0
438bcfc054,5,2020-03-12 00:00:10+00:00,0.00,0.0,0.0
007b7e4890,5,2020-03-12 00:00:10+00:00,21.87,61.0,167.0

In [14]:
output.to_csv('/Users/nsearch/Desktop/HPB_ASSESMENT/Assessment_Inputs/DS1_User_profile_health_OUTPUT.csv')